/* css variables */
:root {
    --header-height: 3rem;
    --front-semi: 500;
    --font-bold: 800;

    --first-color: #50ff50;
    --first-color-alt: #10bb00;
    --white-color: #fafaff;
    --dark-color: #101010;
    --dark-color-light: #606060;
    --gray-color: #f0f1f3;

    --body-font: monospace;
    --big-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .75rem;

    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;

    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 6rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --small-font-size: .813rem;
    }
}

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--dark-color);
    line-height: 1.6;
    overflow-x: hidden;
}

h1,
h2,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

img {
    max-width: 100%;
    height: auto;
}

/* class css */
.section {
    padding: 3rem 0;
}

.section-title {
    font-size: var(--h2-font-size);
    color: var(--dark-color);
    margin: var(--mb-4) 0 var(--mb-1);
    text-align: center;
    text-transform: uppercase;
}

.section-all {
    display: block;
    font-size: var(--small-font-size);
    font-weight: var(--front-semi);
    color: var(--dark-color-light);
    text-align: center;
    margin-bottom: var(--mb-2);
}

/* layout */
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 3rem);
    margin-right: var(--mb-3);
    margin-left: var(--mb-3);
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--gray-color);
}

/* nav */
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--white-color);
        transition: .5s;
    }
}

.nav__item {
    margin-bottom: var(--mb-4);
}

.nav__link {
    color: var(--dark-color);
    font-weight: var(--front-semi);
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__logo {
    font-weight: var(--font-bold);
}

/* .nav__cart{
    font-size: 1.5rem;
    margin-right: var(--mb-2);
} */

.nav__toggle {
    cursor: pointer;
}

/* show menu */
.show {
    right: 0;
}

.active {
    color: var(--first-color);
    border-bottom: 1px solid var(--first-color);
}

/* main container */
/* home */
.home {
    background-color: #eceef0;

}

.home__container {
    height: calc(93vh - var(--header-height));
}

.home__data {
    padding-top: 6rem;
}

.home__title {
    align-self: center;
    font-size: var(--big-font-size);
    line-height: 1;
    letter-spacing: .5rem;
    margin-bottom: 4rem;
}

.home__title span {
    font-size: var(--h1-font-size);
}

.home__img {
    position: absolute;
    right: 0;
    bottom: 7%;
    width: 70%;
}

/* anim on scroll */
.box {
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.box:nth-last-of-type(even) {
    transform: translateX(-400%);
}

.box.show {
    transform: translateX(0);
}

/* buttons */
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 1rem;
    font-size: var(--small-font-size);
    font-weight: var(--front-semi);
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;
}

.button:hover {
    background-color: var(--first-color-alt);
    border: 2px ridge #000;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.26);
}

/* collection */
.collection {
    background-color: var(--gray-color);
}

.collection__container {
    row-gap: 2rem;
}

.collection__box {
    display: flex;
    padding: 0 1.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: #eceef0;
    transition: .3s;
}

.collection__box:hover {
    transform: translateY(-.5rem);
}

.collection__img {
    width: 30%;
}

.collection__title {
    font-size: var(--h1-font-size);
    line-height: 1.2;
    margin-bottom: var(--mb-2);
    text-transform: uppercase;
    font-weight: var(--front-semi);
}

.collection__subtitle {
    font-size: var(--h2-font-size);
    color: var(--dark-color-light);
}

.collection__view {
    font-size: var(--small-font-size);
    color: var(--dark-color-light);
}

.collection__view:hover {
    text-decoration: overline;
}

/* feature products */
.featured__container {
    row-gap: 2rem;
}

.featured__product {
    transition: .3s;
}

.featured__product:hover {
    transform: translateY(-.5rem);
}

.featured__box {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #eceef0;
}


.featured__new {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: .3rem .75rem;
    font-size: var(--small-font-size);
    font-weight: var(--front-semi);
}

.featured-cart {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(71, 229, 71, 0.2);
    opacity: 0;
    transition: .3s;
}

.featured-cart:hover {
    opacity: 1;
}

.featured__data {
    text-align: center;
}

.featured__name {
    margin-bottom: var(--mb-1);
    text-transform: uppercase;
    font-size: var(--normal-font-size);
}

.featured__price {
    color: var(--dark-color-light);
    font-weight: var(--front-semi);
    margin-bottom: var(--mb-1);
}

/* offer */
.offer__bg {
    background: url('./img/home.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    position: relative;
}


.offer__data {
    padding: 3.5rem .25rem;
    background: rgba(0, 0, 0, 0.623);
    color: var(--white-color);
}

.offer__title {
    font-size: var(--h1-font-size);
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: var(--front-semi);
}

.offer__description {
    margin-bottom: var(--mb-2);
    letter-spacing: .2rem;
}

/* new arrivals */
.new__container {
    row-gap: 2rem;
}

.new__box {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #eceef0;
    overflow: hidden;
}

.new__box:hover .new__link {
    bottom: 0;
}

.new__link {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(71, 229, 71, 0.2);
    transition: .3s;
}

.new__img {
    width: 50%;
}

/* newsletter */
.newsletter {
    text-align: center;
    background: var(--gray-color);
}

.newsletter__description {
    margin-bottom: var(--mb-2);
    font-size: var(--small-font-size);
    color: var(--dark-color-light);
}

.newsletter__form {
    display: grid;
    grid-template-columns: 1fr .5fr;
}

.newsletter__input {
    outline: none;
    border: none;
    background-color: var(--dark-color-light);
    padding: 0 1rem;
}

/* sponsors */
.sponsors__logo {
    display: flex;
    column-gap: 2rem;
    justify-content: space-evenly;
}

.sponsors__logo img {
    width: 80px;
    filter: opacity(70%);
}

.sponsors__logo img:hover {
    filter: none;
}

/* footer */
.footer {
    background-color: var(--dark-color);
    color: var(--white-color);
    text-align: center;
}


.footer__container {
    row-gap: 1.5rem;
    margin-bottom: var(--mb-4);
}

.footer__title {
    margin-bottom: var(--mb-1);
}

.footer__deal {
    margin-bottom: var(--mb-2);
}

.footer__link,
.footer__social {
    color: var(--dark-color-light);
}

.footer__link:hover {
    text-decoration: overline;
}

.footer__social {
    font-size: 1.3rem;
    margin-right: var(--mb-1);
}

.footer__copy {
    border-top: 1px solid var(--dark-color-light);
    padding-top: 3rem;
    text-align: center;
    color: var(--dark-color-light);
    font-size: var(--small-font-size);
}


/* media query */
@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .section-all {
        margin-bottom: var(--mb-4);
    }

    .nav {
        height: calc(var(--header-height) + 1rem);
        justify-content: initial;
    }

    .nav__menu {
        margin-left: auto;
    }

    .nav__list {
        display: flex;
    }

    .nav__item {
        margin-left: var(--mb-4);
        margin-bottom: 0;

    }

    .home__container {
        height: 100vh;
    }

    .home__data {
        padding: 0;
        height: max-content;
        align-self: center;
    }

    .home__title {
        line-height: .8;
        letter-spacing: 1.5rem;
    }

    .home__img {
        width: 45%;
    }

    .collection__container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    .collection__box {
        padding: .5rem 3rem 0;
    }

    .collection__img {
        width: 65%;
    }

    .featured__container,
    .footer__container {
        grid-template-columns: repeat(4, 1fr);
    }

    .offer__data {
        padding: 5rem 0;
    }

    .new__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .newsletter__form {
        width: 400px;
        margin: 0 auto;
    }

    .footer__container {
        padding: 2rem 0;
    }
}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }

    .home__data {
        padding-left: 7rem;
    }

    .home__img {
        bottom: 0;
        right: 10%;
    }

    #nav-toggle {
        display: none;
    }
}

@media screen and (max-width: 820px) {
    .home__img {
        width: 60%;
    }
}

@media screen and (max-width: 360px) {
    .button {
        padding: .7rem;
    }
}